<div>

  <form (ngSubmit)="executePostForm()" #cardForm="ngForm" class="form-style-1">
    <ul>
      <li>
        <label for="lessonInfo">Lesson info</label>
        <input type="text" [(ngModel)]="currentLesson.info" id="lessonInfo" name="lessonInfo" class="field-style">
      </li>
      <li>
        <label for="lessonSymb">Count of symbols for success</label>
        <input type="number" [(ngModel)]="currentLesson.symbols" id="lessonSymb" name="lessonSymb" class="field-style">
      </li>
      <div class="rvrsContainer">
        <div class="rvrsfield">ask '{{getAskField()}}' field</div>
        <div class="reverse" (click)="changeLessonField()"></div>
        <div class="rvrsfield">check '{{getCheckField()}}' field</div>
      </div>
    </ul>
    <button type="submit" class="submit-style">save</button>
  </form>

</div>
