<div>
  <h4>Cards:</h4>
  <button *ngIf="currentSection.id > 0" (click)="newCardForm()">new card</button>
  <label for="targetCount">Target count for LessonCard </label>
  <input type="number" [(ngModel)]="targetCount" id="targetCount" name="targetCount">
  <button (click)="startLesson()">start lesson</button>
  <table>
    <tr *ngFor="let lessonCard of lessonCardList">
      <td><button (click)="deleteCardFromLesson(lessonCard)" class="listButton buttonDelete"></button></td>
      <td><button (click)="editCardForm(lessonCard)" class="listButton buttonEdit"></button></td>
      <td [ngClass]="{'learnt': lessonCard.successCount >= lessonCard.targetCount,
                    'learning': lessonCard.successCount < lessonCard.targetCount }">{{lessonCard.card.id}}</td>
      <td>{{lessonCard.card.question.substr(0, 20)}}</td>
      <td>{{lessonCard.card.answer.substr(0, 20)}}</td>
      <td>{{lessonCard.successCount}} of {{lessonCard.targetCount}}</td>
      <td *ngIf="lessonCard.successCount >= lessonCard.targetCount"><button (click)="toLearnAgain(lessonCard)" class="listButton buttonCheck" title="to Learn Again"></button></td>
    </tr>
  </table>
</div>
