button.listButton {
  background-size: 100% 100%;
  cursor:pointer;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

button.buttonAdd {
  background-image: url(../pic/add32.png);
}

button.buttonAddDoc {
  background-image: url(../pic/adddoc32.png);
}

button.buttonDelete {
  background-image: url(../pic/delete32.png);
}

button.buttonEdit {
  background-image: url(../pic/edit32.png);
}

button.buttonEditBig {
  background-image: url(../pic/editbig32.png);
}

button.buttonListInfo {
  background-image: url(../pic/listinfo32.png);
}

button.buttonListBook {
  background-image: url(../pic/listbook32.png);
}

button.buttonListDoc {
  background-image: url(../pic/listdoc32.png);
}

button.buttonCheck {
  background-image: url(../pic/check32.png);
}

body {
  font-size: 100%;
}

textarea {
  font-size: 1.4em;
}

.captionText {
  display: inline-block;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  color: #3c3c3c;
  margin: 15px;
}

.captionButton {
  margin-left: 50%;
}

.form-button {
  min-width: 100px;
  padding: 4px 15px;
  white-space: normal;
  max-width: 50%;
  color: #999;
  border: 2px solid #ccc;
  border-radius: 100px;
  background: transparent;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 20px;
  font-weight: 700;
  font-size: 15px;
}

.col30 {
  width: 200px;
  padding: 3px;
}

