<div class="loginBlock">
  <div class="alert alert-danger" [hidden]="!error">
    There was a problem logging in. Please try again.
  </div>
  <div *ngIf="!isAuthenticated() && !isSignUp">
    <p *ngIf="errorMsg.length > 0">{{errorMsg}}</p>
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.login"/>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"/>
      </div>
    </form>
    <div class="button-group">
      <button (click)="login()" type="submit" class="form-button">Login</button>
      <button (click)="setSignUp(true)" class="form-button">Go to signUp</button>
    </div>
  </div>
  <div *ngIf="!isAuthenticated() && isSignUp">
    <p *ngIf="warningMsg.length > 0">{{warningMsg}}</p>
    <form>
      <div class="form-group">
        <label for="username2">Username:</label>
        <input type="text" class="form-control" id="username2" name="username2" [(ngModel)]="user.login"/>
      </div>
      <div class="form-group">
        <label for="password2">Password:</label>
        <input type="password" class="form-control" id="password2" name="password2" [(ngModel)]="user.password"/>
      </div>
    </form>
    <div class="button-group">
      <button type="submit" (click)="signUp()" class="form-button">SignUp</button>
      <button (click)="setSignUp(false)" class="form-button">Go to login</button>
    </div>
  </div>
  <div *ngIf="isAuthenticated()" class="button-group">
    <button class="form-button">Change password</button>
    <button (click)="logout()" class="form-button">Logout</button>
  </div>
</div>
