<div>
  <div>
    <span class="captionText">Cards:</span>
    <button *ngIf="isSectionSelected()" class="form-button" (click)="newCardForm()">new card</button>
  </div>
  <div class="searchContainer blueBorder">
    <label for="filterQuestion" class="captionText">Question:</label>
    <input [(ngModel)]="currentCardFilter.question" id="filterQuestion" name="filterQuestion" class="fieldBorder blueBorder">
    <button (click)="getCardListByFilter()" class="form-button">search</button>
  </div>
  <div class="targetCountContainer blueBorder">
    <label for="targetCount" class="captionText">Target count for Lesson Card:</label>
    <input type="number" [(ngModel)]="targetCount" id="targetCount" name="targetCount" class="targetField blueBorder">
  </div>
  <div class="listPageBlockSize">
    <table>
      <tr *ngFor="let card of cardList">
        <td><button (click)="deleteCard(card)" class="listButton buttonDelete"></button></td>
        <td><button (click)="editCardForm(card)" class="listButton buttonEdit"></button></td>
        <td><button (click)="addToLesson(card)" class="listButton buttonAdd" title="add to Lesson"></button></td>
        <td>{{card.section.id}}</td>
        <td>{{card.id}}</td>
        <td class="col30">{{card.question.substr(0, 30)}}</td>
        <td class="col50">{{card.answer.substr(0, 50)}}</td>
      </tr>
    </table>
  </div>
  <pager></pager>
</div>
