<div>

  <form (ngSubmit)="saveCardForm()" #cardForm="ngForm" class="form-style-1">
    <div class="closeForm" (click)="closeCardForm()"></div>
    <ul>
      <li>
        <label for="cardQuestion">Question</label>
        <input type="text" [(ngModel)]="currentCard.question" id="cardQuestion" name="cardQuestion" class="field-style">
      </li>
      <li>
        <label for="cardQAudio">Question audio</label>
        <input type="file" id="cardQAudio" name="cardQAudio" #qAudio (change)="changeQuestionFile(qAudio)" class="field-style">
      </li>
      <li>
        <audio #qMp3 controls class="inlineBlock">
          <source src="" type="audio/mpeg">
        </audio>
      </li>
      <li>
        <label for="cardQInfo">Question Info</label>
        <input type="text" [(ngModel)]="currentCard.qInfo" id="cardQInfo" name="cardQInfo" class="field-style">
      </li>
      <li>
        <label for="cardAAudio">Answer audio</label>
        <input type="file" id="cardAAudio" name="cardAAudio" #aAudio (change)="changeAnswerFile(aAudio)" class="field-style">
      </li>
      <li>
        <label for="cardAnswer">Answer</label>
        <input type="text" [(ngModel)]="currentCard.answer" id="cardAnswer" name="cardAnswer" class="field-style">
      </li>
      <li>
        <label for="cardAInfo">Answer Info</label>
        <input type="text" [(ngModel)]="currentCard.aInfo" id="cardAInfo" name="cardAInfo" class="field-style">
      </li>
      <li>
        <label for="cardImage">Card Image</label>
        <input type="file" id="cardImage" name="cardImage" #cImage (change)="changeCardImage(cImage)" class="field-style">
      </li>
      <li>
        <label for="section">Section Id</label>
        <input type="text" [(ngModel)]="currentCard.section.id" id="section" name="section" class="field-style" readonly>
      </li>
    </ul>
    <div class="containerBlock">
      <div *ngFor="let cardtag of currentCard.tags" class="divInlineBlock">
        <div class="divInlineBlock">{{cardtag.name}}</div>
        <button class="divInlineBlock" (click)="deleteTagFromCard(cardtag)">X</button>
      </div>
    </div>
    <button type="submit" class="submit-style">save</button>
  </form>

</div>
