<div>
  <div> failed: {{currentLessonCard.failedCount}} success: {{currentLessonCard.successCount}} target: {{currentLessonCard.targetCount}}</div>
  <div>
    <audio #engMp3 controls class="inlineBlock">
      <source src="" type="audio/mpeg">
    </audio>
    <button (click)="excutePlay(engMp3)">play</button>
  </div>
  <div>{{currentLessonCard.lessonCardId.card.qInfo}}</div>
  <div><textarea rows="5" cols="50" readonly>{{currentLessonCard.lessonCardId.card.question}}</textarea></div>
  <div *ngIf="currentStatus.length > 0">{{currentLessonCard.lessonCardId.card.answer}}</div>
  <div><textarea rows="5" cols="50" #answerId [(ngModel)]="currentAnswer" (keydown.control)="answerKeyHandler($event)"></textarea></div>
  <div>{{currentStatus}} <button (click)="nextCard()">next</button></div>
</div>
