<div class="question-container">
  <div class="question-header">failed: {{currentLessonCard.failedCount}} success: {{currentLessonCard.successCount}} target: {{currentLessonCard.targetCount}}</div>
  <div class="col-left">
    <div (click)="showContext()" class="context-link">{{isShowContext?'Hide':'Show'}} context</div>
    <div *ngIf="isShowContext">{{currentLessonCard.card.qInfo}}</div>
  </div>
  <div class="question-main">
    <div>
      <audio #engMp3 controls >
        <source src="" type="audio/mpeg">
      </audio>
    </div>
    <div *ngIf="currentLessonCard.lesson.questionField == 0"><span class="question-text">{{currentLessonCard.card.question}}</span></div>
    <div *ngIf="currentLessonCard.lesson.questionField == 1"><span class="question-text">{{currentLessonCard.card.answer}}</span></div>
    <div [style.visibility]="(currentStatus.length == 0) ? 'hidden' : 'visible' ">
      <div>
        <audio #engMp3A controls >
          <source src="" type="audio/mpeg">
        </audio>
      </div>
      <span *ngIf="currentLessonCard.lesson.questionField == 0" class="question-text">{{currentLessonCard.card.answer}}</span>
      <span *ngIf="currentLessonCard.lesson.questionField == 1" class="question-text">{{currentLessonCard.card.question}}</span>
    </div>
    <div><textarea rows="5" cols="50" #answerId [(ngModel)]="currentAnswer" (keydown.control)="answerKeyHandler($event)"></textarea></div>
    <div>
      <button *ngIf="currentStatus.length == 0" class="next-button" (click)="checkCard()">check</button>
      <button *ngIf="currentStatus.length > 0" class="next-button" (click)="nextCard()">next</button>
      <div *ngIf="currentStatus.length > 0"
           [ngClass]="{'success-status': currentStatus == 'SUCCESS',
                       'failed-status': currentStatus == 'FAILED' }">{{currentStatus}}</div>
    </div>
  </div>
  <div class="question-footer">

  </div>
</div>
